* {
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "XoloniumBold";
    background: #f5f4f0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.scores {
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-family: "XoloniumBold";
    font-size: 1.5em;
    align-items: center;
}
#title {
    text-align: center;
}
.images {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 2;
}
img {
    width: 15vw;
    
}
.pick {
    border: 3px solid transparent;
}
.pick:hover {
    /* border: 3px solid #cccbc8; */
    box-shadow: 0px 10px 30px 8px rgba(204,203,200,1);
}
